* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
:root {
  --brand-beige: rgba(255, 250, 241, 1);
  --brand-green-light: rgb(220, 233, 226);
  --brand-green-light-02: rgb(247, 249, 249);
  --primary-green: rgba(0, 133, 111, 1);
  --brand-green-hover: rgba(0, 69, 58, 1);
  --white: rgba(255, 255, 255, 1);
  --primary-gray: rgba(73, 80, 87, 1);
  --primary-back: rgba(33, 37, 41, 1);
}
body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  background-color: black;
  width: 37.5rem; 
  margin: 0 auto;

  position: relative;
}
header {
  display: flex;
  flex-direction: column;

  width: 100%;

  background-color: var(--brand-green-light);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
#containerHeader{
  display: flex;
  height: 7.2rem;
  justify-content: space-between;
  align-items: center;

  padding: 0 2.4rem;
}
nav {
  display: none;
  flex-direction: column;
  padding-top:6rem ;
  align-items: center;

  width: 100%;
  height: 100vh;
  background-color: var(--primary-green);

  /* position: absolute;
  top: 7.2rem;
  left: 0;
  z-index: 2; */
}
nav ul {
  text-align: center;
}
nav ul li {
  margin-bottom: 4.8rem;
}
#navButton {
  background-color: var(--white);
  color: var(--primary-green);
  border: solid 1px var(--primary-green);
}
#navButton:hover {
  background-color: var(--brand-green-light);
}

a {
  text-decoration: none;
  font-size: 2.4rem;
  color: var(--white);
}
#icons span{
  margin-left: 3.2rem;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--brand-green-light);

  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 3.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
h2 {
  font-size: 2.4rem;
  font-weight: bold;
}
h3 {
  font-size: 4.8rem;
  font-weight: bold;
}
h4 {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--primary-green);
  margin-bottom: 1.6rem;
}
p {
  font-size: 1.8rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.4rem;
  font-weight: bold;

  height: 5.2rem;
  width: 26.3rem;

  margin: 3.2rem 0 3.9rem 0;

  border: none;
  border-radius: 4rem;

  background-color: var(--primary-green);
  color: var(--white);
}
button:hover {
  background-color: var(--brand-green-hover);
}
#section1 {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-top: 4.1rem;

  height: 108rem;
}
#women {
  width: 30rem;
  display: block;
  margin-inline: auto;
  object-position: 0 3rem;
}
#section2 {
  background-color: var(--brand-green-light-02);
  padding-top: 32rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}
#section2 ul li {
  margin-bottom: 3.2rem;
  padding: 2.4rem;

  border: 1px solid var(--brand-green-light);
  border-radius: 0.6rem;

  background-color: var(--white);
}

#section2 ul li h2 {
  margin-bottom: 1.6rem;
}
ul {
  list-style: none;
  text-align: start;
}
#servicos {
  margin-bottom: 6rem;
}
#servicos h3 {
  font-size: 3rem;
  text-align: center;
}
.attributes {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;

  height: 47rem;
  width: 32.7rem;

  position: absolute;
  bottom: -21.8rem;

  border: 1px solid var(--brand-green-light);

  background-color: var(--brand-beige);
}
.attributes {
  border-radius: 0.6rem;
}
.attributes li {
  margin-bottom: 6rem;
}
.attributes li > p {
  font-size: 1.6rem;
  color: var(--primary-green);
}
.correctIcon {
  width: 2rem;
  height: 2rem;

  border-radius: 50%;

  margin-bottom: 1.6rem;

  background-color: var(--brand-green-light);
}
